
<nbm>
    <!--moduleType>autoload</moduleType-->
    <codeNameBase>org.netbeans.modules.scala.debugger.projects/1</codeNameBase>
    <licenseName>CDDL-GPLV2</licenseName>
    <licenseFile>license.txt</licenseFile> 
    <dependencies>
        <dependency>
            <id>org.netbeans.modules:org-netbeans-modules-debugger-jpda-ui</id>
            <type>impl</type>
            <explicitValue>org.netbeans.modules.debugger.jpda.ui/1 > 1.23</explicitValue>
        </dependency>
    </dependencies>
</nbm>
