<?xml version="1.0" encoding="UTF-8"?>
<nbm>
    <codeNameBase>org.netbeans.modules.scala.maven/1</codeNameBase>
    <licenseName>CDDL-GPLV2</licenseName>
    <licenseFile>license.txt</licenseFile>
    <!-- Special Dependency handling needed as long as org-netbeans-modules-maven api is not public, Verified on RELEASE72 -->
    <dependencies>
        <dependency>
            <id>org.netbeans.modules:org-netbeans-modules-maven</id>
            <type>impl</type>
        </dependency>
    </dependencies>
</nbm>
