
<nbm>
    <!--moduleType>autoload</moduleType-->
    <codeNameBase>org.netbeans.modules.scala.refactoring/1</codeNameBase>
    <licenseName>CDDL-GPLV2</licenseName>
    <licenseFile>license.txt</licenseFile>
    
    <!-- to resolve the references to friend modules or private classes -->
    <dependencies>
        <dependency>
            <id>org.netbeans.modules:org-netbeans-modules-parsing-lucene</id>
            <type>spec</type>
            <explicitValue>org.netbeans.modules.parsing.lucene = 1</explicitValue>
        </dependency>
        <dependency>
            <id>org.netbeans.modules:org-netbeans-modules-masterfs</id>
            <type>spec</type>
            <explicitValue>org.netbeans.modules.masterfs = 1</explicitValue>
        </dependency>
        <dependency>
            <id>org.netbeans.modules:org-netbeans-libs-jna</id>
            <type>spec</type>
            <explicitValue>org.netbeans.libs.jna = 1</explicitValue>
        </dependency>
        <dependency>
            <id>org.netbeans.modules:org-netbeans-modules-java-preprocessorbridge</id>
            <type>spec</type>
            <explicitValue>org.netbeans.modules.java.preprocessorbridge = 1</explicitValue>
        </dependency>
        <dependency>
            <id>org.netbeans.modules:org-netbeans-modules-scala-core</id>
            <type>spec</type>
            <explicitValue>org.netbeans.modules.scala.core = 1</explicitValue>
        </dependency>
    </dependencies> 
</nbm>
